@font-face {
  font-family: 'cquin22';
  src: url("../fonts/cquin22.eot?k4ebhd");
  src: url("../fonts/cquin22.eot?#iefixk4ebhd") format('embedded-opentype'), url("../fonts/cquin22.woff?k4ebhd") format('woff'), url("../fonts/cquin22.ttf?k4ebhd") format('truetype'), url("../fonts/cquin22.svg?k4ebhd#cquin22") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'cquin22';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-google22:before {
  content: "\e600";
}
.icon-google10:before {
  content: "\e601";
}
.icon-curve15:before {
  content: "\e602";
}
.icon-arrow486:before {
  content: "\e603";
}
.icon-arrow426:before {
  content: "\e604";
}
.icon-arrow408:before {
  content: "\e605";
}
.icon-arrow366:before {
  content: "\e606";
}
.icon-arrow333:before {
  content: "\e607";
}
.icon-arrow299:before {
  content: "\e608";
}
.icon-js1:before {
  content: "\e609";
}
.icon-github7:before {
  content: "\e60a";
}
.icon-github5:before {
  content: "\e60b";
}
.icon-fingerprint43:before {
  content: "\e60c";
}
.icon-data12:before {
  content: "\e60d";
}
.icon-nodejs-black:before {
  content: "\e60e";
}
.icon-website4:before {
  content: "\e60f";
}
.icon-user106:before {
  content: "\e610";
}
.icon-thumb15:before {
  content: "\e611";
}
.icon-social19:before {
  content: "\e612";
}
.icon-smartphone:before {
  content: "\e613";
}
.icon-search15:before {
  content: "\e614";
}
.icon-responsive4:before {
  content: "\e615";
}
.icon-responsive2:before {
  content: "\e616";
}
.icon-power83:before {
  content: "\e617";
}
.icon-power33:before {
  content: "\e618";
}
.icon-pencil40:before {
  content: "\e619";
}
.icon-network26:before {
  content: "\e61a";
}
.icon-map15:before {
  content: "\e61b";
}
.icon-linkedin11:before {
  content: "\e61c";
}
.icon-link3:before {
  content: "\e61d";
}
.icon-html-tag:before {
  content: "\e61e";
}
.icon-html10:before {
  content: "\e61f";
}
.icon-html3:before {
  content: "\e620";
}
.icon-facebook30:before {
  content: "\e621";
}
.icon-facebook5:before {
  content: "\e622";
}
.icon-email34:before {
  content: "\e623";
}
.icon-email31:before {
  content: "\e624";
}
.icon-dzone:before {
  content: "\e625";
}
.icon-data45:before {
  content: "\e626";
}
.icon-data29:before {
  content: "\e627";
}
.icon-css1:before {
  content: "\e628";
}
.icon-businessman65:before {
  content: "\e629";
}
.icon-black269:before {
  content: "\e62a";
}
.icon-battery82:before {
  content: "\e62b";
}
.icon-apple4:before {
  content: "\e62c";
}
.icon-android2:before {
  content: "\e62d";
}
.icon-analytics5:before {
  content: "\e62e";
}
.icon-pencil:before {
  content: "\e62f";
}
.icon-film:before {
  content: "\e630";
}
.icon-map:before {
  content: "\e631";
}
.icon-menu:before {
  content: "\e632";
}
.icon-thumbs-up:before {
  content: "\e633";
}
.icon-thumbs-up2:before {
  content: "\e634";
}
.icon-close:before {
  content: "\e635";
}
.icon-checkmark:before {
  content: "\e636";
}
.icon-wordpress:before {
  content: "\e637";
}
.icon-joomla:before {
  content: "\e638";
}
.icon-apple:before {
  content: "\e639";
}
/* normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
}
header {
  background: #272822;
  height: 70px;
  width: 100%;
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  transition: all 1s ease-in;
  position: relative;
  overflow: hidden;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
p {
  font-size: 16px;
}
figure {
  margin: 0;
  padding: 0;
}
#map-canvas {
  width: 100%;
  height: 300px;
}
.logo {
  margin: 0;
  height: 70px;
}
.logo img {
  height: 50px;
  position: absolute;
  top: 50%;
  left: 2px;
  margin-top: -25px;
}
.menu {
  background: #222;
  position: fixed;
  z-index: 500;
  top: 70px;
  width: 300px;
  right: -100%;
  overflow: hidden;
  height: 100%;
  max-height: 1600px;
  color: #fff;
  margin-right: -3px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}
.menu ul {
  list-style: none;
  margin: 0;
}
.limenus {
  padding: 1em;
  color: #fff;
  display: block;
  font-size: 18px;
  -webkit-box-shadow: 1px 1px 10px 1px #111;
  box-shadow: 1px 1px 10px 1px #111;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border-right: 25px solid #197aa5;
}
.limenus:nth-child(2n) {
  border-right: 25px solid #ffe600;
}
.limenus:hover {
  background: rgba(255,255,255,0.2);
  color: #222;
}
.sec-bottom {
  padding: 1em;
}
.sec-bottom span {
  font-size: 50px;
  color: #272822;
}
.face {
  background: #222;
  padding: 30px 29px;
  margin-right: -3px;
  height: 70px;
  line-height: 70px;
  color: #fff;
  margin-top: -10px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.face span {
  font-size: 20px;
}
.face:hover {
  background: #3b5998;
  color: #fff;
}
.twitter {
  background: #222;
  padding: 30px 29px;
  margin-right: -3px;
  color: #fff;
  height: 70px;
  line-height: 70px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.twitter span {
  font-size: 20px;
}
.twitter:hover {
  background: #4fa1d3;
  color: #fff;
}
.google {
  background: #222;
  padding: 30px 29px;
  margin-right: -3px;
  color: #fff;
  height: 70px;
  line-height: 70px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.google span {
  font-size: 20px;
}
.google:hover {
  background: #cb4437;
  color: #fff;
}
.icon-menu {
  background: #197aa5;
  padding: 30px 29px;
  margin-right: -3px;
  color: #fff;
  height: 70px;
  line-height: 70px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.icon-menu span {
  font-size: 20px;
}
.icon-menu:hover {
  background: #ffe600;
  color: #272822;
}
.bg-head {
  background: url("../img/slides/slide2.jpg") center top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 800px;
}
.banner h1 {
  font-size: 6em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.banner p {
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
.section-banner {
  height: auto;
}
.aside {
  background: #272822;
  height: 373px;
  position: relative;
}
.aside h3 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
.aside p {
  color: #fff;
}
.bg-franjas {
  height: 41px;
  position: relative;
  background: #197aa5;
}
.franja-azul {
  height: 41px;
  width: 47%;
  float: left;
  background: #197aa5;
}
.franja-mitad {
  float: left;
  height: 41px;
  background: url("../img/midle-colors.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 6%;
  margin: 0;
}
.franja-amarilla {
  height: 41px;
  width: 47%;
  float: left;
  background: #ffe600;
}
.flecha-back {
  position: absolute;
  left: -34px;
  top: 50%;
  height: 50px;
  margin-top: -25px;
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}
.flecha-back span {
  font-size: 5em;
}
.miperfil {
  padding: 2em;
  overflow: hidden;
  background: url '../img/layout-code.jpg';
  background: #333;
  -webkit-box-shadow: 1px 1px 10px 1px #222;
  box-shadow: 1px 1px 10px 1px #222;
}
.miperfil h3 {
  color: #ffe600;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 1px 1px 1px #000;
}
.miperfil p {
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
}
.fortalezas {
  background: url("../img/mosaico.jpg");
  height: 200px;
  position: relative;
}
.fortalezas p {
  background: rgba(255,255,255,0.7);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 0.5em;
  width: 66%;
  position: absolute;
  top: 50%;
  margin-top: -41px;
  height: 82px;
  color: #272822;
  text-shadow: 1px 1px 1px #ccc;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.author {
  font-size: 15px;
  margin: 0;
  color: #333;
  font-style: italic;
}
.iconBig {
  font-size: 50px;
  color: #fff;
  padding: 0.5em;
  background: #197aa5;
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.smallbutton {
  color: #fff;
  padding: 0.5em;
  background: #5196b4;
  position: relative;
  top: 15px;
  margin-left: 15px;
}
.smallbutton:hover {
  color: franja-amarilla;
  background: franja-amarilla;
}
.box {
  padding: 1em;
}
.box h3 {
  font-size: 1em;
  color: #fff;
}
.box p {
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
}
.dark {
  background: #222;
  position: relative;
}
.dark:after {
  position: absolute;
  content: "\e603";
  font-family: cquin22;
  font-size: 50px;
  top: 40%;
  color: #333;
  left: -19px;
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.dark:before {
  position: absolute;
  content: "\e603";
  font-family: cquin22;
  font-size: 50px;
  top: 40%;
  color: #333;
  right: -19px;
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}
.porfolio {
  background: #197aa5;
  padding: 2em;
  overflow: hidden;
}
.porfolio h3 {
  color: #ffe600;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 1em;
}
.porfolio p {
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
}
.img-por {
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.box-portafolio {
  background: rgba(255,255,255,0.1);
  padding: 2em;
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
  border-left: 1px solid #197aa5;
  border-right: 1px solid #197aa5;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.caption {
  width: 100%;
  height: 100%;
  background: #272822;
  position: absolute;
  bottom: -100%;
  left: 0;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  background-image: url("../img/layout-code.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.caption span {
  position: absolute;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 60px;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -30px;
  text-shadow: 1px 1px 1px #000;
}
.image-code {
  width: 30%;
  float: left;
  background: #272822;
  padding: 1em;
}
.competencias {
  width: 70%;
  background: #197aa5;
  float: left;
}
.bg-image-slide {
  position: relative;
}
.bg-image-slide img {
  width: 100%;
  height: auto;
}
.textos-slide {
  position: absolute;
  height: 300px;
  width: 600px;
  margin-top: -150px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  z-index: 100;
}
.textos-slide h1 {
  font-size: 6em;
  color: #fff;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
  padding: 0;
}
.textos-slide h2 {
  font-size: 6em;
  color: #fff;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
  margin-top: 0px;
  padding: 0;
}
.textos-slide p {
  color: #fff;
  font-size: 1.5em;
  background: rgba(0,0,0,0.5);
  padding: 0.5em;
  margin-top: 0px;
  color: #ffe600;
}
.bg-bigporfolio {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -150%;
  z-index: 99999999999;
  background: #fff;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.aside-porfolio {
  width: 30%;
  height: 100%;
  background: #272822;
  float: left;
  padding: 1em;
}
.aside-porfolio p {
  color: #fff;
}
.aside-porfolio h1 {
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.aside-porfolio span {
  float: right;
  font-size: 25px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  color: #fff;
}
.aside-porfolio span:hover {
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #ffe600;
}
.box-map p {
  margin: 0;
}
.tags p {
  background: #197aa5;
  padding: 0.6em;
  display: inline-block;
  margin-right: 5px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  font-size: 12px;
}
.content-porfolio {
  width: 70%;
  float: left;
  height: 100%;
  padding: 1em;
}
.top-fixed {
  position: fixed;
  z-index: 200;
  background: rgba(39,40,34,0.9);
  top: 0;
  left: 0;
}
.bg-footer {
  background: #272822;
  padding: 0.4em;
}
.footer {
  text-align: center;
}
.footer p {
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .textos-slide {
    width: 300px;
    margin-left: -150px;
  }
  .textos-slide h1 {
    font-size: 2em;
  }
  .textos-slide h2 {
    font-size: 3em;
  }
  .bg-head {
    background: url("../img/slides/slide2.jpg") center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 400px;
  }
  .aside-porfolio {
    width: 100%;
    float: none;
    height: 250px;
  }
  .aside-porfolio p {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  .content-porfolio {
    width: 100%;
    float: none;
  }
  .bg-bigporfolio {
    overflow: scroll;
  }
  .fortalezas p {
    width: 100%;
    height: 100%;
    margin-top: 0;
    top: 0;
  }
}
