@import 'nib' 
@import 'iconografia.styl'
@import 'normalize.styl'
vendor-prefixes = webkit o ms moz official
// animacion(parametro)
// -webkit-animation parametro
// -moz-animation parametro
// -o-animation parametro
// -ms-animation parametro
// animation parametro
// font-family: 'Yanone Kaffeesatz', sans-serif;
// font-family: 'Raleway', sans-serif;
//font-family: 'Shadows Into Light Two', cursive;

color-cafe-sublime = #272822
color-azul-principal = #197AA5
color-amarillo-secundario = #FFE600
color-facebook = #3b5998
color-twitter = #4fa1d3
color-google = #cb4437	

body
	font-family: 'Raleway', sans-serif
	

header 
	background rgba(color-cafe-sublime, 1)
	height 70px
	width 100%
	transition all 1s ease-in
	//top 0
	position relative
	overflow hidden
	//z-index 99999999999

nav
	position absolute
	top 0
	right 0
	margin 0
	padding 0
	ul 
		list-style none
		margin 0
		padding 0
		li 
			display inline-block
						
p 
	font-size 16px
		
figure 
	margin 0
	padding 0		

.logo 
	margin 0
	height 70px
	img
		height 50px
		position absolute
		top 50%
		left 2px
		margin-top -25px

.menu
	background #222
	position fixed
	z-index 500
	top 70px
	width 30%
	right -100%
	overflow hidden
	height 100%
	max-height 1600px
	color white
	margin-right -3px
	padding 23px 29px
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size 20px
	font-weight lighter


.face 
	background #222
	padding 30px 29px
	margin-right -3px
	height 70px
	line-height 70px	
	color white

	margin-top -10px
	span 
		font-size 20px
		
	&:hover
		background color-facebook
		color white


.twitter 
	background #222
	padding 30px 29px
	margin-right -3px
	color white
	height 70px
	line-height 70px
	span 
		font-size 20px			
	&:hover
		background color-twitter
		color white

.google 
	background #222
	padding 30px 29px
	margin-right -3px
	color white
	height 70px
	line-height 70px
	span 
		font-size 20px		
	&:hover
		background color-google
		color white




.icon-menu 
	background color-azul-principal
	padding 30px 29px
	margin-right -3px
	color white
	height 70px
	line-height 70px
	span 
		font-size 20px		
	&:hover
		background color-amarillo-secundario
		color color-cafe-sublime

.bg-head
	background url('../img/slides/slide2.jpg') center top
	background-attachment fixed
	background-size cover
	width 100%
	height 800px


.banner
	h1 
		font-size 6em
		font-family 'Raleway', sans-serif
		font-weight bold
		margin 0
		padding 0
	p 
		font-size 3em
		font-family 'Raleway', sans-serif
		font-weight lighter
		margin 0
		padding 0

.section-banner
	height auto


.aside
	background color-cafe-sublime
	height 373px
	position relative
	h3 
		color white
		font-family: 'Raleway', sans-serif	
	p 
		color white

.bg-franjas
	height 41px
	position relative
	background color-azul-principal

.franja-azul
	height 41px
	width 47%
	float left
	background color-azul-principal

.franja-mitad
	float left
	height 41px
	background url('../img/midle-colors.png') center center
	background-size cover
	width 6%
	margin 0	

.franja-amarilla
	height 41px 
	width 47%
	float left
	background color-amarillo-secundario

.flecha-back
	position absolute
	left -34px
	top 50%
	height 50px
	margin-top -25px
	transform rotate(90deg)
	span 
		font-size 5em

.miperfil	
	padding 2em
	overflow hidden
	background url ('../img/layout-code.jpg')
	background #333
	box-shadow 1px 1px 10px 1px #222
	h3 
		color color-amarillo-secundario
		font-family: 'Raleway', sans-serif;
		font-weight bold
		font-size 2em
		text-shadow 1px 1px 1px black

	p 
		color white
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size 18px
		font-weight lighter
		margin 0

.fortalezas
	background url('../img/mosaico.jpg')

.box
	padding 1em
	h3 
		font-size 1em
		color white
	p 
		color white
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size 18px
		font-weight lighter
		margin 0
.dark 
	background #222
	position relative
	&:after
		position absolute
		content "\e603"
		font-family cquin22
		font-size 50px
		top 40%
		color #333
		left -19px
		transform rotate(-90deg)
	&:before
		position absolute
		content "\e603"
		font-family cquin22
		font-size 50px
		top 40%
		color #333
		right -19px
		transform rotate(90deg)
.porfolio 
	background color-azul-principal
	padding 2em
	overflow hidden
	h3 
		color color-amarillo-secundario
		font-family: 'Raleway', sans-serif;
		font-weight bold
		font-size 2em
		text-shadow 1px 1px 1px black
	p 
		color white
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size 18px
		font-weight lighter
		margin 0

.box-portafolio
	background rgba(white,0.1)
	padding 2em
	margin-bottom 1px
	border-left 1px solid color-azul-principal
	border-right 1px solid color-azul-principal

.image-code
	width 30%
	float left
	background color-cafe-sublime
	padding 1em	

.competencias
	width 70%
	background color-azul-principal
	float left	

.bg-image-slide
	position relative
	img 
		width 100%
		height auto	

.textos-slide
	position absolute
	height 300px
	width 600px
	margin-top -150px
	top 50%
	left 50%
	margin-left -300px	
	z-index 100
	h1 
		font-size 6em
		color white
		margin 0
		font-family: 'Raleway', sans-serif
		font-weight bold
		text-shadow 1px 1px 1px black
		text-transform uppercase		
		padding 0
	h2 
		font-size 6em
		color white
		margin 0
		font-family: 'Raleway', sans-serif
		font-weight bold
		text-shadow 1px 1px 1px black
		text-transform uppercase
		margin-top 0px
		padding 0			
	p 
		color white
		font-size 1.5em
		background rgba(black,0.5)
		padding 0.5em
		margin-top 0px 
		color color-amarillo-secundario				


.top-fixed
	position fixed
	z-index 200
	background rgba(color-cafe-sublime, 0.7)
	top 0
	left 0


@media only screen and (min-width: 0px) and (max-width: 600px){

.textos-slide {

	width 300px
	margin-left -150px
}

.textos-slide h1 {
	font-size 2em

}

.textos-slide h2 {
	font-size 3em

}
.bg-head {
	background url('../img/slides/slide2.jpg') center top
	background-size cover
	width 100%
	height 400px
	}
}


@media only screen and (min-width: 806px) and (max-width: 900px){


}


@media only screen and (min-width: 901px) and (max-width: 1200px){


	
}			