@font-face {
  font-family: 'cquin22';
  src: url("../fonts/cquin22.eot?k4ebhd");
  src: url("../fonts/cquin22.eot?#iefixk4ebhd") format('embedded-opentype'), url("../fonts/cquin22.woff?k4ebhd") format('woff'), url("../fonts/cquin22.ttf?k4ebhd") format('truetype'), url("../fonts/cquin22.svg?k4ebhd#cquin22") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'cquin22';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-google22:before {
  content: "\e600";
}
.icon-google10:before {
  content: "\e601";
}
.icon-curve15:before {
  content: "\e602";
}
.icon-arrow486:before {
  content: "\e603";
}
.icon-arrow426:before {
  content: "\e604";
}
.icon-arrow408:before {
  content: "\e605";
}
.icon-arrow366:before {
  content: "\e606";
}
.icon-arrow333:before {
  content: "\e607";
}
.icon-arrow299:before {
  content: "\e608";
}
.icon-js1:before {
  content: "\e609";
}
.icon-github7:before {
  content: "\e60a";
}
.icon-github5:before {
  content: "\e60b";
}
.icon-fingerprint43:before {
  content: "\e60c";
}
.icon-data12:before {
  content: "\e60d";
}
.icon-nodejs-black:before {
  content: "\e60e";
}
.icon-website4:before {
  content: "\e60f";
}
.icon-user106:before {
  content: "\e610";
}
.icon-thumb15:before {
  content: "\e611";
}
.icon-social19:before {
  content: "\e612";
}
.icon-smartphone:before {
  content: "\e613";
}
.icon-search15:before {
  content: "\e614";
}
.icon-responsive4:before {
  content: "\e615";
}
.icon-responsive2:before {
  content: "\e616";
}
.icon-power83:before {
  content: "\e617";
}
.icon-power33:before {
  content: "\e618";
}
.icon-pencil40:before {
  content: "\e619";
}
.icon-network26:before {
  content: "\e61a";
}
.icon-map15:before {
  content: "\e61b";
}
.icon-linkedin11:before {
  content: "\e61c";
}
.icon-link3:before {
  content: "\e61d";
}
.icon-html-tag:before {
  content: "\e61e";
}
.icon-html10:before {
  content: "\e61f";
}
.icon-html3:before {
  content: "\e620";
}
.icon-facebook30:before {
  content: "\e621";
}
.icon-facebook5:before {
  content: "\e622";
}
.icon-email34:before {
  content: "\e623";
}
.icon-email31:before {
  content: "\e624";
}
.icon-dzone:before {
  content: "\e625";
}
.icon-data45:before {
  content: "\e626";
}
.icon-data29:before {
  content: "\e627";
}
.icon-css1:before {
  content: "\e628";
}
.icon-businessman65:before {
  content: "\e629";
}
.icon-black269:before {
  content: "\e62a";
}
.icon-battery82:before {
  content: "\e62b";
}
.icon-apple4:before {
  content: "\e62c";
}
.icon-android2:before {
  content: "\e62d";
}
.icon-analytics5:before {
  content: "\e62e";
}
.icon-pencil:before {
  content: "\e62f";
}
.icon-film:before {
  content: "\e630";
}
.icon-map:before {
  content: "\e631";
}
.icon-menu:before {
  content: "\e632";
}
.icon-thumbs-up:before {
  content: "\e633";
}
.icon-thumbs-up2:before {
  content: "\e634";
}
.icon-close:before {
  content: "\e635";
}
.icon-checkmark:before {
  content: "\e636";
}
.icon-wordpress:before {
  content: "\e637";
}
.icon-joomla:before {
  content: "\e638";
}
.icon-apple:before {
  content: "\e639";
}
/* normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
header {
  background: #272822;
  height: 70px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
figure {
  margin: 0;
  padding: 0;
}
.logo {
  margin: 0;
  height: 70px;
}
.logo img {
  height: 50px;
  position: absolute;
  top: 50%;
  left: 2px;
  margin-top: -25px;
}
.menu {
  background: #197aa5;
  color: #fff;
  margin-right: -3px;
  height: 70px;
  line-height: 70px;
  padding: 23px 29px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}
.menu:hover {
  background: #ffe600;
  color: #272822;
}
.face {
  background: #222;
  padding: 30px 29px;
  margin-right: -3px;
  height: 70px;
  line-height: 70px;
  color: #fff;
  margin-top: -10px;
}
.face span {
  font-size: 20px;
}
.face:hover {
  background: #3b5998;
  color: #fff;
}
.twitter {
  background: #222;
  padding: 30px 29px;
  margin-right: -3px;
  color: #fff;
  height: 70px;
  line-height: 70px;
}
.twitter span {
  font-size: 20px;
}
.twitter:hover {
  background: #4fa1d3;
  color: #fff;
}
.google {
  background: #222;
  padding: 30px 29px;
  margin-right: -3px;
  color: #fff;
  height: 70px;
  line-height: 70px;
}
.google span {
  font-size: 20px;
}
.google:hover {
  background: #cb4437;
  color: #fff;
}
