@import 'nib' 
@import 'iconografia.styl'
@import 'normalize.styl'
vendor-prefixes = webkit o ms moz official
// animacion(parametro)
// -webkit-animation parametro
// -moz-animation parametro
// -o-animation parametro
// -ms-animation parametro
// animation parametro

color-cafe-sublime = #272822
color-azul-principal = #197AA5
color-amarillo-secundario = #FFE600	